html {
  font-size: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: #ffadfe;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Droid Serif', georgia, times, serif;
}

.story {
  flex: 1 1 auto;
}

.user-input {
  flex: 0;
  background: #001e3d;
  padding: 0.2em;
}
  .user-input__form {
    display: flex;
    align-items: stretch;
  }
  .user-input__text {
    height: 1.1em;
    font-size: 1.4em;
    flex: 1 1 auto;
    border: 0;
  }
  .user-input__submit {
    appearance: none;
    height: 1.1em;
    width: 1.1em;
    border: none;
    background-color: #0069d6;
  }

